In [ ]:
# Instal pustaka yang diperlukan
!pip install numpy pandas scipy scikit-fuzzy matplotlib seaborn
!pip install --upgrade pip
!pip install -U pyFTS
!pip install -q xlrd
import pandas as pd
import pyFTS

# Import pustaka yang diperlukan
import numpy as np
import pandas as pd
from scipy.optimize import minimize
import skfuzzy as fuzz
import matplotlib.pyplot as plt
import seaborn as sns
import math

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (1.11.4)
Collecting scikit-fuzzy
  Downloading scikit-fuzzy-0.4.2.tar.gz (993 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 994.0/994.0 kB 6.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: networkx>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from scikit-fuzzy) (3.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Building wheels for collected packages: scikit-fuzzy
  Building wheel for scikit-fuzzy (setup.py) ... done
  Created wheel for scikit-fuzzy: filename=scikit_fuzzy-0.4.2-py3-none-any.whl size=894078 sha256=de12f655045fc6534be4ba043ee7bd562a376107947b81ede250f50cd613563a
  Stored in directory: /root/.cache/pip/wheels/4f/86/1b/dfd97134a2c8313e519bcebd95d3fedc7be7944db022094bc8
Successfully built scikit-fuzzy
Installing collected packages: scikit-fuzzy
Successfully installed scikit-fuzzy-0.4.2
Requirement already satisfied: pip in /usr/local/lib/python3.10/dist-packages (23.1.2)
Collecting pip
  Downloading pip-24.0-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 11.1 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.1.2
    Uninstalling pip-23.1.2:
      Successfully uninstalled pip-23.1.2
Successfully installed pip-24.0
Collecting pyFTS
  Downloading pyFTS-1.6-py3-none-any.whl.metadata (8.2 kB)
Downloading pyFTS-1.6-py3-none-any.whl (175 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 175.1/175.1 kB 4.0 MB/s eta 0:00:00
Installing collected packages: pyFTS
Successfully installed pyFTS-1.6
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [ ]:
df = pd.read_excel('FTS Lee.xlsx')
df

      Periode     Harga
0  2019-01-01  12211.09
1  2019-02-01  12222.00
2  2019-03-01  12124.00
3  2019-04-01  12019.00
4  2019-05-01  12008.00
5  2019-06-01  12009.00
6  2019-07-01  12021.00
7  2019-08-01  12018.00
8  2019-09-01  12050.00
9  2019-10-01  12108.00
10 2019-11-01  12120.00
11 2019-12-01  12183.03
12 2020-01-01  12342.74
13 2020-02-01  12355.15
14 2020-03-01  12368.00
15 2020-04-01  12382.10
16 2020-05-01  12293.03
17 2020-06-01  12223.98
18 2020-07-01  12212.63
19 2020-08-01  12212.07
20 2020-09-01  12188.86
21 2020-10-01  12186.97
22 2020-11-01  12178.62
23 2020-12-01  12184.52
24 2021-01-01  10474.00
25 2021-02-01  10479.00
26 2021-03-01  10424.00
27 2021-04-01  10356.00
28 2021-05-01  10385.00
29 2021-06-01  10384.00
30 2021-07-01  10361.00
31 2021-08-01  10352.00
32 2021-09-01  10351.00
33 2021-10-01  10367.00
34 2021-11-01  10375.00
35 2021-12-01  10429.00
36 2022-01-01  10496.00
37 2022-02-01  10471.00
38 2022-03-01  10463.00
39 2022-04-01  10455.00
40 2022-05-01  10448.00
41 2022-06-01  10448.00
42 2022-07-01  10449.00
43 2022-08-01  10551.00
44 2022-09-01  10772.00
45 2022-10-01  10947.00
46 2022-11-01  11012.00
47 2022-12-01  11363.00
48 2023-01-01  11647.91
49 2023-02-01  11990.12
50 2023-03-01  12041.64
51 2023-04-01  12092.38
52 2023-05-01  12102.70
53 2023-06-01  12115.81
54 2023-07-01  12141.72
55 2023-08-01  12265.68
56 2023-09-01  13036.96
57 2023-10-01  13315.29
58 2023-11-01  13380.40
59 2023-12-01  13458.06

In [ ]:
column_name = 'Harga'
nilai_maximum = df[column_name].max()
nilai_minimum = df[column_name].min()
print("Nilai Maximum:", nilai_maximum)
print("Nilai Minimum:", nilai_minimum)

Nilai Maximum: 13458.06
Nilai Minimum: 10351.0

In [ ]:
def get_data_max_min(df):
    D1 = 0
    D2 = 0.94
    data_maximum = max(df['Harga']) + D2
    data_minimum = min(df['Harga']) - D1
    return data_maximum, data_minimum

# Memanggil fungsi dan menyimpan nilai yang dikembalikan
data_maximum, data_minimum = get_data_max_min(df)

# Mencetak hasil
print("Umax:", data_maximum)
print("Umin:", data_minimum)

Umax: 13459.0
Umin: 10351.0

In [ ]:
data_length = len(df)
K = (1 + (3.322*math.log(data_length,10)))
K_rounded_up = round(K/1)*1
if (K_rounded_up < K): K_rounded_up += 1
def get_interval_class(interval_high,interval_low,K_rounded_up):
  return (interval_high-interval_low)/K_rounded_up
print("Banyak Kelas =", K)

Banyak Kelas = 6.907018453774463

In [ ]:
K = 7
panjang_interval = (data_maximum - data_minimum)/K
print("Panjang Interval =", panjang_interval)

Panjang Interval = 444.0

In [ ]:
panjang_interval = 444
K_rounded_up = 7
interval = (0, 10351)
def generate_interval(panjang_interval,K_rounded_up,interval):
  int_K_rounded_up = int(K_rounded_up)+0
  mtx_interval = [ [ 0 for i in range(2) ] for j in range (int_K_rounded_up) ]
  counter = interval[1]
  for i in range (int_K_rounded_up):
    for j in range (2):
      if (j == 0): mtx_interval[i][j] = int(counter)
      else:counter += panjang_interval; mtx_interval[i][j] = int(counter)
  return (mtx_interval)
mtx_interval = generate_interval(panjang_interval, K_rounded_up, interval)
generate_interval(panjang_interval, K_rounded_up, interval)
print("Interval (ui, i=1,2,3,...,7):")
for i, (index, first) in enumerate(mtx_interval, start=1):
    print(f"u{i} = ({index} : {first})")

Interval (ui, i=1,2,3,...,7):
u1 = (10351 : 10795)
u2 = (10795 : 11239)
u3 = (11239 : 11683)
u4 = (11683 : 12127)
u5 = (12127 : 12571)
u6 = (12571 : 13015)
u7 = (13015 : 13459)

In [ ]:
categories = {
    1: "sangat murah",
    2: "murah",
    3: "agak murah",
    4: "normal",
    5: "mahal",
    6: "agak mahal",
    7: "sangat mahal"
}

print("Nilai Linguistik pada Interval:")
for i, (index, first) in enumerate(mtx_interval, start=1):
    category = categories.get(i, "undefined")
    print(f"u{i} = ({index} : {first}) -> {category}")

Nilai Linguistik pada Interval:
u1 = (10351 : 10795) -> sangat murah
u2 = (10795 : 11239) -> murah
u3 = (11239 : 11683) -> agak murah
u4 = (11683 : 12127) -> normal
u5 = (12127 : 12571) -> mahal
u6 = (12571 : 13015) -> agak mahal
u7 = (13015 : 13459) -> sangat mahal

In [ ]:
def mid_point(mtx_interval):
    mid_points = []
    for interval in mtx_interval:
        mid_point = sum(interval) / 2
        mid_points.append(mid_point)
    return mid_points

mid_points = mid_point(mtx_interval)
print("Nilai Tengah (mi):")
for i, mid in enumerate(mid_points, start=1):
    print(f"m{i} = {mid}")

Nilai Tengah (mi):
m1 = 10573.0
m2 = 11017.0
m3 = 11461.0
m4 = 11905.0
m5 = 12349.0
m6 = 12793.0
m7 = 13237.0

In [ ]:
def fuzzify(df,mtx_interval,data_length):
  mtx_fuzzify = []
  for i in range (data_length):
    curr_data = (df['Harga'][i])
    for j in range (len(mtx_interval)):
      if (j == 0):
        if (mtx_interval[j][0] <= curr_data) and (mtx_interval[j][1] >= curr_data):
          mtx_fuzzify.append([i+1,j+1])
      else:
        if (mtx_interval[j][0] < curr_data) and (mtx_interval[j][1] >= curr_data):
          mtx_fuzzify.append([i+1,j+1])
  return(mtx_fuzzify)
fuzzify(df,mtx_interval,data_length)
mtx_fuzzify = fuzzify(df,mtx_interval,data_length)
print("Fuzzyfikasi:")
for i, (index, first) in enumerate(mtx_fuzzify, start=1):
    print(f"t={i} memiliki fuzzyfikasi (A{first})")

Fuzzyfikasi:
t=1 memiliki fuzzyfikasi (A5)
t=2 memiliki fuzzyfikasi (A5)
t=3 memiliki fuzzyfikasi (A4)
t=4 memiliki fuzzyfikasi (A4)
t=5 memiliki fuzzyfikasi (A4)
t=6 memiliki fuzzyfikasi (A4)
t=7 memiliki fuzzyfikasi (A4)
t=8 memiliki fuzzyfikasi (A4)
t=9 memiliki fuzzyfikasi (A4)
t=10 memiliki fuzzyfikasi (A4)
t=11 memiliki fuzzyfikasi (A4)
t=12 memiliki fuzzyfikasi (A5)
t=13 memiliki fuzzyfikasi (A5)
t=14 memiliki fuzzyfikasi (A5)
t=15 memiliki fuzzyfikasi (A5)
t=16 memiliki fuzzyfikasi (A5)
t=17 memiliki fuzzyfikasi (A5)
t=18 memiliki fuzzyfikasi (A5)
t=19 memiliki fuzzyfikasi (A5)
t=20 memiliki fuzzyfikasi (A5)
t=21 memiliki fuzzyfikasi (A5)
t=22 memiliki fuzzyfikasi (A5)
t=23 memiliki fuzzyfikasi (A5)
t=24 memiliki fuzzyfikasi (A5)
t=25 memiliki fuzzyfikasi (A1)
t=26 memiliki fuzzyfikasi (A1)
t=27 memiliki fuzzyfikasi (A1)
t=28 memiliki fuzzyfikasi (A1)
t=29 memiliki fuzzyfikasi (A1)
t=30 memiliki fuzzyfikasi (A1)
t=31 memiliki fuzzyfikasi (A1)
t=32 memiliki fuzzyfikasi (A1)
t=33 memiliki fuzzyfikasi (A1)
t=34 memiliki fuzzyfikasi (A1)
t=35 memiliki fuzzyfikasi (A1)
t=36 memiliki fuzzyfikasi (A1)
t=37 memiliki fuzzyfikasi (A1)
t=38 memiliki fuzzyfikasi (A1)
t=39 memiliki fuzzyfikasi (A1)
t=40 memiliki fuzzyfikasi (A1)
t=41 memiliki fuzzyfikasi (A1)
t=42 memiliki fuzzyfikasi (A1)
t=43 memiliki fuzzyfikasi (A1)
t=44 memiliki fuzzyfikasi (A1)
t=45 memiliki fuzzyfikasi (A1)
t=46 memiliki fuzzyfikasi (A2)
t=47 memiliki fuzzyfikasi (A2)
t=48 memiliki fuzzyfikasi (A3)
t=49 memiliki fuzzyfikasi (A3)
t=50 memiliki fuzzyfikasi (A4)
t=51 memiliki fuzzyfikasi (A4)
t=52 memiliki fuzzyfikasi (A4)
t=53 memiliki fuzzyfikasi (A4)
t=54 memiliki fuzzyfikasi (A4)
t=55 memiliki fuzzyfikasi (A5)
t=56 memiliki fuzzyfikasi (A5)
t=57 memiliki fuzzyfikasi (A7)
t=58 memiliki fuzzyfikasi (A7)
t=59 memiliki fuzzyfikasi (A7)
t=60 memiliki fuzzyfikasi (A7)

In [ ]:
mtx_fuzzify = fuzzify(df,mtx_interval,data_length)

def flr(mtx_fuzzify):
  mtx_flr = []
  for i in range (len(mtx_fuzzify)-1):
    mtx_flr.append((i+2, mtx_fuzzify[i][1],mtx_fuzzify[i+1][1]))
  return (mtx_flr)

mtx_flr = flr(mtx_fuzzify)

 # Memanggil FLR
result_flr = flr(mtx_fuzzify)
print("Hasil FLR Ai->Ap:")
for i, (index, first, second) in enumerate(mtx_flr, start=1):
    print(f"t={index}: (A{first} -> A{second})")

Hasil FLR Ai->Ap:
t=2: (A5 -> A5)
t=3: (A5 -> A4)
t=4: (A4 -> A4)
t=5: (A4 -> A4)
t=6: (A4 -> A4)
t=7: (A4 -> A4)
t=8: (A4 -> A4)
t=9: (A4 -> A4)
t=10: (A4 -> A4)
t=11: (A4 -> A4)
t=12: (A4 -> A5)
t=13: (A5 -> A5)
t=14: (A5 -> A5)
t=15: (A5 -> A5)
t=16: (A5 -> A5)
t=17: (A5 -> A5)
t=18: (A5 -> A5)
t=19: (A5 -> A5)
t=20: (A5 -> A5)
t=21: (A5 -> A5)
t=22: (A5 -> A5)
t=23: (A5 -> A5)
t=24: (A5 -> A5)
t=25: (A5 -> A1)
t=26: (A1 -> A1)
t=27: (A1 -> A1)
t=28: (A1 -> A1)
t=29: (A1 -> A1)
t=30: (A1 -> A1)
t=31: (A1 -> A1)
t=32: (A1 -> A1)
t=33: (A1 -> A1)
t=34: (A1 -> A1)
t=35: (A1 -> A1)
t=36: (A1 -> A1)
t=37: (A1 -> A1)
t=38: (A1 -> A1)
t=39: (A1 -> A1)
t=40: (A1 -> A1)
t=41: (A1 -> A1)
t=42: (A1 -> A1)
t=43: (A1 -> A1)
t=44: (A1 -> A1)
t=45: (A1 -> A1)
t=46: (A1 -> A2)
t=47: (A2 -> A2)
t=48: (A2 -> A3)
t=49: (A3 -> A3)
t=50: (A3 -> A4)
t=51: (A4 -> A4)
t=52: (A4 -> A4)
t=53: (A4 -> A4)
t=54: (A4 -> A4)
t=55: (A4 -> A5)
t=56: (A5 -> A5)
t=57: (A5 -> A7)
t=58: (A7 -> A7)
t=59: (A7 -> A7)
t=60: (A7 -> A7)

In [ ]:
def flrg(mtx_flr, K_rounded_up):
    int_K_rounded_up = int(K_rounded_up)
    mtx_flrg = [[] for _ in range(int_K_rounded_up)]
    for i in range(len(mtx_flr)):
        temp = mtx_flr[i][1] - 1  # Kurangi 1 dari temp agar sesuai dengan rentang indeks
        val = mtx_flr[i][2]
        if 0 <= temp < int_K_rounded_up:
            if val not in mtx_flrg[temp]:  # Memeriksa apakah nilai sudah ada dalam grup
                mtx_flrg[temp].append(val)
        else:
            raise IndexError(f"Index {temp} out of range for mtx_flrg with size {int_K_rounded_up}")
    return mtx_flrg

# Contoh data mtx_flr dan K_rounded_up
mtx_flr = flr(mtx_fuzzify)

K_rounded_up = 7

# Memanggil fungsi flrg
mtx_flrg = flrg(mtx_flr, K_rounded_up)

# Mencetak hasil FLRG
print("\nFLRG Ai:")
for i, group in enumerate(mtx_flrg, start=1):
    print(f"A{i} -> A{group}")

FLRG Ai:
A1 -> A[1, 2]
A2 -> A[2, 3]
A3 -> A[3, 4]
A4 -> A[4, 5]
A5 -> A[5, 4, 1, 7]
A6 -> A[]
A7 -> A[7]

In [ ]:
mtx_flrg = flrg(mtx_flr, K_rounded_up)
mtx_flrg

[[1, 2], [2, 3], [3, 4], [4, 5], [5, 4, 1, 7], [], [7]]

In [ ]:
def forecast_next_period(mtx_fuzzify, mtx_flrg, mid_points):
    if len(mtx_fuzzify) < 2:
        raise ValueError("Not enough data to make a forecast for the next period.")

    last_period_fuzzify = mtx_fuzzify[-1][1]  # Mendapatkan hasil fuzzify dari periode terakhir
    previous_period_fuzzify = mtx_fuzzify[-2][1]  # Mendapatkan hasil fuzzify dari periode sebelumnya

    if previous_period_fuzzify > len(mtx_flrg):
        raise ValueError(f"Index {previous_period_fuzzify} out of range for mtx_flrg")

    forecast_values = mtx_flrg[previous_period_fuzzify - 1]  # Mengambil nilai peramalan dari hasil mtx_flrg periode sebelumnya

    # Menghitung rata-rata dari nilai tengah
    forecast_sum = sum(mid_points[val - 1] for val in forecast_values)
    forecast = forecast_sum / len(forecast_values) if len(forecast_values) > 0 else 0

    return forecast

def forecast_all_periods(mtx_fuzzify, mtx_flrg, mid_points):
    forecasts = []
    for i in range(len(mtx_fuzzify)):
        if i == 0:
            forecasts.append(None)  # Tidak ada peramalan untuk periode pertama
        else:
            previous_period_fuzzify = mtx_fuzzify[i - 1][1]  # Mengambil hasil fuzzify periode sebelumnya
            forecast_values = mtx_flrg[previous_period_fuzzify - 1]  # Mengambil nilai peramalan dari hasil mtx_flrg periode sebelumnya
            forecast_sum = sum(mid_points[val - 1] for val in forecast_values)
            forecast = forecast_sum / len(forecast_values) if len(forecast_values) > 0 else 0
            forecasts.append(forecast)
    return forecasts

# Peramalan untuk semua periode
forecasts = forecast_all_periods(mtx_fuzzify, mtx_flrg, mid_points)

for i, forecast in enumerate(forecasts):
    if forecast is not None:
        print(f"Forecast for period {i + 1}: {forecast}")
    else:
        print(f"No forecast available for period {i + 1}")

# Peramalan untuk periode berikutnya
next_forecast = forecast_next_period(mtx_fuzzify, mtx_flrg, mid_points)
print(f"Forecast for next period: {next_forecast}")

No forecast available for period 1
Forecast for period 2: 12016.0
Forecast for period 3: 12016.0
Forecast for period 4: 12127.0
Forecast for period 5: 12127.0
Forecast for period 6: 12127.0
Forecast for period 7: 12127.0
Forecast for period 8: 12127.0
Forecast for period 9: 12127.0
Forecast for period 10: 12127.0
Forecast for period 11: 12127.0
Forecast for period 12: 12127.0
Forecast for period 13: 12016.0
Forecast for period 14: 12016.0
Forecast for period 15: 12016.0
Forecast for period 16: 12016.0
Forecast for period 17: 12016.0
Forecast for period 18: 12016.0
Forecast for period 19: 12016.0
Forecast for period 20: 12016.0
Forecast for period 21: 12016.0
Forecast for period 22: 12016.0
Forecast for period 23: 12016.0
Forecast for period 24: 12016.0
Forecast for period 25: 12016.0
Forecast for period 26: 10795.0
Forecast for period 27: 10795.0
Forecast for period 28: 10795.0
Forecast for period 29: 10795.0
Forecast for period 30: 10795.0
Forecast for period 31: 10795.0
Forecast for period 32: 10795.0
Forecast for period 33: 10795.0
Forecast for period 34: 10795.0
Forecast for period 35: 10795.0
Forecast for period 36: 10795.0
Forecast for period 37: 10795.0
Forecast for period 38: 10795.0
Forecast for period 39: 10795.0
Forecast for period 40: 10795.0
Forecast for period 41: 10795.0
Forecast for period 42: 10795.0
Forecast for period 43: 10795.0
Forecast for period 44: 10795.0
Forecast for period 45: 10795.0
Forecast for period 46: 10795.0
Forecast for period 47: 11239.0
Forecast for period 48: 11239.0
Forecast for period 49: 11683.0
Forecast for period 50: 11683.0
Forecast for period 51: 12127.0
Forecast for period 52: 12127.0
Forecast for period 53: 12127.0
Forecast for period 54: 12127.0
Forecast for period 55: 12127.0
Forecast for period 56: 12016.0
Forecast for period 57: 12016.0
Forecast for period 58: 13237.0
Forecast for period 59: 13237.0
Forecast for period 60: 13237.0
Forecast for next period: 13237.0

In [ ]:
# Definisi fungsi calculate_mape
def calculate_mape(actual, forecast):
    if len(actual) != len(forecast):
        raise ValueError("The length of actual and forecast lists must be the same")
    mape = []
    for a, f in zip(actual, forecast):
        if a != 0:
            mape.append(abs((a - f) / a) * 100)
    return mape

# Peramalan untuk semua periode
forecasts = forecast_all_periods(mtx_fuzzify, mtx_flrg, mid_points)

for i, forecast in enumerate(forecasts):
    if forecast is not None:
        print(f"Forecast for period {i + 1}: {forecast}")
    else:
        print(f"No forecast available for period {i + 1}")

# Peramalan untuk periode berikutnya
next_forecast = forecast_next_period(mtx_fuzzify, mtx_flrg, mid_points)
print(f"Forecast for next period: {next_forecast}")

# Menyusun data aktual
actual = df['Harga'].tolist()

# Menghitung MAPE hanya untuk periode yang memiliki peramalan
mape_values = calculate_mape(actual[1:], [f for f in forecasts[1:] if f is not None])  # Menghindari periode pertama yang tidak ada peramalannya

# Mencetak semua hasil MAPE
print("MAPE Values for each period:")
for i, mape in enumerate(mape_values, start=2):  # Mulai dari 2 karena periode pertama tidak dihitung
    print(f"Period {i}: {mape:.2f}%")

# Menghitung MAPE keseluruhan
overall_mape = sum(mape_values) / len(mape_values)  # Menghindari periode pertama
print(f"\nOverall MAPE: {overall_mape:.2f}%")

# Peramalan untuk periode berikutnya
next_forecast = forecast_next_period(mtx_fuzzify, mtx_flrg, mid_points)
print(f"\nForecast for next period: {next_forecast}")

No forecast available for period 1
Forecast for period 2: 12016.0
Forecast for period 3: 12016.0
Forecast for period 4: 12127.0
Forecast for period 5: 12127.0
Forecast for period 6: 12127.0
Forecast for period 7: 12127.0
Forecast for period 8: 12127.0
Forecast for period 9: 12127.0
Forecast for period 10: 12127.0
Forecast for period 11: 12127.0
Forecast for period 12: 12127.0
Forecast for period 13: 12016.0
Forecast for period 14: 12016.0
Forecast for period 15: 12016.0
Forecast for period 16: 12016.0
Forecast for period 17: 12016.0
Forecast for period 18: 12016.0
Forecast for period 19: 12016.0
Forecast for period 20: 12016.0
Forecast for period 21: 12016.0
Forecast for period 22: 12016.0
Forecast for period 23: 12016.0
Forecast for period 24: 12016.0
Forecast for period 25: 12016.0
Forecast for period 26: 10795.0
Forecast for period 27: 10795.0
Forecast for period 28: 10795.0
Forecast for period 29: 10795.0
Forecast for period 30: 10795.0
Forecast for period 31: 10795.0
Forecast for period 32: 10795.0
Forecast for period 33: 10795.0
Forecast for period 34: 10795.0
Forecast for period 35: 10795.0
Forecast for period 36: 10795.0
Forecast for period 37: 10795.0
Forecast for period 38: 10795.0
Forecast for period 39: 10795.0
Forecast for period 40: 10795.0
Forecast for period 41: 10795.0
Forecast for period 42: 10795.0
Forecast for period 43: 10795.0
Forecast for period 44: 10795.0
Forecast for period 45: 10795.0
Forecast for period 46: 10795.0
Forecast for period 47: 11239.0
Forecast for period 48: 11239.0
Forecast for period 49: 11683.0
Forecast for period 50: 11683.0
Forecast for period 51: 12127.0
Forecast for period 52: 12127.0
Forecast for period 53: 12127.0
Forecast for period 54: 12127.0
Forecast for period 55: 12127.0
Forecast for period 56: 12016.0
Forecast for period 57: 12016.0
Forecast for period 58: 13237.0
Forecast for period 59: 13237.0
Forecast for period 60: 13237.0
Forecast for next period: 13237.0
MAPE Values for each period:
Period 2: 1.69%
Period 3: 0.89%
Period 4: 0.90%
Period 5: 0.99%
Period 6: 0.98%
Period 7: 0.88%
Period 8: 0.91%
Period 9: 0.64%
Period 10: 0.16%
Period 11: 0.06%
Period 12: 0.46%
Period 13: 2.65%
Period 14: 2.75%
Period 15: 2.85%
Period 16: 2.96%
Period 17: 2.25%
Period 18: 1.70%
Period 19: 1.61%
Period 20: 1.61%
Period 21: 1.42%
Period 22: 1.40%
Period 23: 1.34%
Period 24: 1.38%
Period 25: 14.72%
Period 26: 3.02%
Period 27: 3.56%
Period 28: 4.24%
Period 29: 3.95%
Period 30: 3.96%
Period 31: 4.19%
Period 32: 4.28%
Period 33: 4.29%
Period 34: 4.13%
Period 35: 4.05%
Period 36: 3.51%
Period 37: 2.85%
Period 38: 3.09%
Period 39: 3.17%
Period 40: 3.25%
Period 41: 3.32%
Period 42: 3.32%
Period 43: 3.31%
Period 44: 2.31%
Period 45: 0.21%
Period 46: 1.39%
Period 47: 2.06%
Period 48: 1.09%
Period 49: 0.30%
Period 50: 2.56%
Period 51: 0.71%
Period 52: 0.29%
Period 53: 0.20%
Period 54: 0.09%
Period 55: 0.12%
Period 56: 2.04%
Period 57: 7.83%
Period 58: 0.59%
Period 59: 1.07%
Period 60: 1.64%

Overall MAPE: 2.32%

Forecast for next period: 13237.0